# Visual Studio
**/.vs/
*.user
*.suo
*.sln.docstates

# Build
**/bin/
**/obj/

# Secrets
api/TelephoneDiary/.env
api/TelephoneDiary/log.txt
frontend/.env

# Node
frontend/node_modules/
frontend/build/
frontend/dist/
